
KiCAD/fp-info-cache
*.gbl
*.gbs
*.gbp
*.gbo
*.zip
*.gm1
*.gtl
*.gts
*.drl
*.gbr
*.gtp
*.gto
*.bak
Arduino/AssistanKeyboardVariantsLibrary/IBF.h
Arduino/AssistanKeyboardVariantsLibrary/Test.h
*.FCStd1
*.gcode
old